::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6vh 90vh 4vh;
}

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.user {
  grid-column: 1 / span 3;
}

.landing {
  grid-column: 1 / span 3;
}

.sidebar {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.errorpage {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-column: 1 / span 3;
  grid-row: 3 / span 3;
  background-color: #000;
}
