.loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputBox {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  background: none;
  border: 0.2rem solid #585858;
  border-radius: 0.3rem;
}

.label {
  color: #000;
}

.reset-link {
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #616161;
}

.signup-link {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  cursor: pointer;
  color: #616161;
}

.submitBtn {
  margin-top: 1.5rem;
  color: #fff;
  background: #000;
  height: 2.2rem;
  border: none;
  cursor: pointer;
}
