.sidebar-wrapper {
  width: 85%;
  max-width: 90%;
}

.sidebar-notes__container {
  width: 100%;
  min-height: 70vh;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  overflow: auto;
}
