.sidebar-wrapper {
  position: relative;
  width: 25%;
  max-width: 25%;
}

.sidebar-notes__container {
  width: 100%;
  min-height: 70vh;
  background-color: rgb(219, 219, 219);
  position: absolute;
  top: 10rem;
  left: 2rem;
  border-radius: 10px;
  padding: 2rem 2rem;
  overflow: auto;
}
