.no-display-img__container {
  width: 60%;
  margin: auto;
}

.no-display-img__container img {
  max-width: 100%;
}

.no-display-msg__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-display__msg {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 0.05rem;
}

.no-display__btn {
  cursor: pointer;
  transition: all 0.2s;
}

.no-display__btn:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
}

.no-display__btn:active,
.no-display__btn:focus {
  transform: translateY(-0.05rem);
  box-shadow: 0px 5px 10px -9px rgba(0, 0, 0, 0.5);
}
