@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.search-container {
  position: sticky;
  top: 0;
  padding: 0.4rem 0.5rem 0.325rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #000;
  margin-bottom: 0.5rem;
}

.search-input__container {
  width: 85%;
}

.search-input {
  width: 100%;
  padding: 1% 3%;
  font-size: 95%;
  outline: none;
  font-family: 'Lato', sans-serif;
  border: none;
  background: none;
}

.search-btn__container {
  width: 9%;
}

.search-btn__container button {
  width: 100%;
  padding-top: 17%;
  border-radius: 0;
  border: none;
}
