.input {
  border: none;
  border-bottom: 3px solid #000;
  outline: none;
  background-color: rgb(233, 232, 232);
}

.input:focus {
  border-bottom-width: 4px;
  background-color: rgb(224, 224, 224);
}
