.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.heading {
  display: flex;
  flex-direction: row;
}

.heading h2 {
  margin-left: 0.5rem;
}
