.form {
  position: absolute;
  top: 7rem;
  left: 2rem;
}

.form input {
  height: 35px;
  width: 305px;
  font-size: 1.1rem;
  padding: 0 7px;
}

.form button {
  margin-left: 1.3rem;
  padding: 8px 11px;
}
