.form {
  position: absolute;
  top: 7rem;
  left: 2rem;
}

.form input {
  height: 35px;
  width: 305px;
  outline: none;
  font-size: 1.1rem;
  padding: 0 7px;
  border: none;
  border-radius: 6px;
}

.form button {
  margin-left: 1.4rem;
  padding: 7px 10px;
  outline: none;
  cursor: pointer;
  background-color: #336b87;
  color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form button:hover {
  background-color: #427792;
}
