.form {
  margin: 1rem 0;
}

.form input {
  height: 35px;
  width: 84%;
  font-size: 1.1rem;
  padding: 0 7px;
  border: none;
  border-bottom: 3px solid #000;
  outline: none;
  background-color: rgb(233, 232, 232);
}

.form input:focus {
  border-bottom-width: 4px;
  background-color: rgb(224, 224, 224);
}

.form button {
  margin-left: 1.2rem;
  padding: 8px 11px;
}
